.postList {
    list-style: none;
    width: 90%;
    margin: 30px auto;
}

li {
    background-color: rgb(85,110,121);
    color: white;
}

h4 {
    margin: 0;
}

li > h4, li > p {
    padding: 10px;
}