@import 'reset.scss';

.container {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(52, 58, 64);
        color: white;
        padding: 10px;

        h2 {
            letter-spacing: 3px;
            a:visited {
                color: white;
            }
        }

        form {
            #search {
                height: 40px;
                padding-left: 5px;
            }
        }
    }

    #popularShows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0 50px 0;

        h2 {
            padding: 15px 0;
        }

        .shows {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            margin-top: 15px;
            width: 80%;
            margin: auto;

            .show {
                align-items: center;
                text-align: center;
                border-radius: 15px;
                box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.3);
                padding: 10px;
                img:hover {
                    cursor: pointer;
                    filter: hue-rotate(180deg) saturate(1);
                    transition: 0.4s ease-out;
                    border-radius: 15px;
                }
            }
        }
    }

    #aboutShow {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px 0 50px 0;

        .divTitle {
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }

        .divSummary {
            h2 {
                margin-bottom: 10px;
            }
            width: 80%;
            align-self: center;
            text-align: justify;
            order: 5;
        }

        .divImgSeasonCast {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            justify-items: center;
            width: 80%;
            margin: auto;

            .imgDiv {
                img {
                    margin: auto;
                    width: 100%;
                    max-width: 600px;
                    height: auto;
                }
            }

            .divSeasonCast {
                .divSeason {
                    ul {
                        list-style-position: inside;
                        margin: 10px 0 0 20px;
                    }
                }

                .divCast {
                    margin-top: 15px;
                    ul {
                        list-style-position: inside;
                        margin: 10px 0 0 20px;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        margin-top: 10px;
        background-color: rgb(52, 58, 64);
        color: white;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
    }
}