$color_orange: rgb(253, 151, 39);
$color_light_gray: rgb(103,103,103);
$color_gray: rgb(119,119,119);
$color_light_blue: rgb(130,195,245);
$color_medium_blue: rgb(83, 162, 224);
$color_blue: rgb(28, 112, 177);
$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);
$contact_color: rgb(59, 221, 154);
$connect_color: rgb(253, 82, 130);
$address_color: rgb(55, 109, 228);
$footer_color: rgb(33, 33, 33);
