@import 'partials';

.container {
    width: $width_hundred;
    display: flex;
    flex-direction: column;
    background-color: $forth-col;
}

header {
    width: $width_hundred;
    h1 {
        text-align: center;
        color: $primary-col;
        padding: 10px;
    }
}

.image_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width:$width_hundred;

    img {
        margin: auto auto;
        border-radius: 50%;
        border: 4px solid $secondary-col;
        padding: 4px;
        @include box-shadow(0 15px 8px -8px $primary-col);
    }
}

.tables {
    width: $width_hundred;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.tables1, .tables2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    
    h2 {
        padding-bottom: 5px;
        color: $primary-col;
    }
}

table {
    border-collapse: collapse;
    width: $width_hundred;

    tr {
        background-color: $third-col;
        &:hover {
            background-color: $forth-col;
        }

    }
    td {
        padding: 1%;
        color: $primary-col;
        font-weight: bold;
        border: 2px solid $primary-col;
    }
}

footer {
    width: $width_hundred;
    margin-top: 30px;
    background-color: $third-col;
    @include box-shadow(0px -10px 20px 2px $primary-col);
    p {
        color: $primary-col;
        padding: 10px;
        @include text-shadow(1px 2px 2px $forth-col);
    }
}