$color1: red;
$color2: blue;
$color3: green;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paras {
    border: 2px solid black;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
}

@function calculateWidth($n) {
    $width: 250px;
    @return $width*$n;
}

@for $i from 1 through 3 {
    .par_#{$i} {
        width: calculateWidth($i);
    }
}

.par_1 {
    border: 2px solid $color1;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.par_2 {
    @extend .par_1;
    border: 2px solid $color2;
}

.par_3 {
    @extend .par_1;
    border: 2px solid $color3;
}

